.edit-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.addEmployeeForm {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.edit-text-titles {

}