//for the dropdown menus

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }

.popup_css-enter {
    opacity: 0.01;
  }

.popup_css-enter.popup_css-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }

.popup_css-leave {
    opacity: 1;
  }

.popup_css-leave.popup_css-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
  }


.form_button {
    color: black;
    background-color: white;
    text-align: center;
    transition: all 0.2s;
    height: 35px;
    width: 100%;
    border-radius: 4px;
    font-family: inherit;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 14px;

}


///////

.popup-form {
  width: 50%;
  background: #86A4D5;
  padding: 25px 30px;
  border-radius: 15px;
}



.styled-select select {
   border: none;
   font-size: 14px;
   height: 29px;
   padding: 5px 5px; /* If you add too much padding here, the options won't show in IE */
   background-color: #C3D4F0;
    color: #707B7C;
    font-style: italic;
}


label {
  padding-bottom: 5px;
  font-size: 14px;
  color: white;
}

.form_button.close {
  background-color: #D7DBDD;
    margin-top: -7px;
  margin-bottom: 10px
}

.form_button.close:hover {
  background-color: #9CA3A6;
}

.form_button.schedule:hover {
  background-color: #274370;
}

#notes {
  border: none;
  height: 50px;
  border-radius: 4px;
  font-family: inherit;
  font-style: italic;
   background-color: #C3D4F0;
   padding: 5px 5px;


}

h2 {
  font-family: inherit;
  padding-left: 10px;
}

.popup-form-title {
  flex-direction: row !important;
  align-items: center;
  color: white;
}

.fas.fa-plus-circle {
  font-size: 20px;
}

