.availability-title {
  color: white;
  font-size: 30px;
  font-family: inherit;
  padding-bottom: 30px;
  padding-top: 20px;
}

.availability-week-days {
  font-family: inherit;
  padding: 5px;
  border-radius: 4px;
  align-items: center;
}