.contact-sidebar {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 70px;
  color: white;

}

.contact-title {
  font-size: 30px;
  padding-bottom: 40px;


}

.contact-phone-title {
  padding-bottom: 5px;
  font-size: 15px;
  display: flex;
  flex-direction: row !important;
  padding-left: 10px;
}

.phone-number-text {
  padding-left: 10px;
}


.contact-phone {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  font-size: 17px;
  background: #AFC5E9;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  border-radius: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 10px


}