.employee-shifts-list {
  color: white;
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.employee-shifts-list li {
  background-color: var(--complimentary-color);
  font-size: 14px;
  font-weight: normal;
  padding: 5px;
  border-radius: 4px;
  margin-bottom: 5px;


}
