.logistics_footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 64px;
  width: 100%;
}

.flex-container {
  display: flex;
  height: 200px;

  background-color: grey;
  flex-direction: row;
  justify-content: space-around;

  align-items: center;
  align-content: stretch;



}


.flex-child {
  height: 180px;
  width: 30%;

  background-color: white;
}