.logistics_footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #2e86c1;
  height: 200px;
}

.footer_navigation {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 1rem;
}

.footer_logo a {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
}

.spacer {
  flex: 1;
}

.footer_navigation-items ul {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

}

.footer_navigation-items li {
  position: absolute;
  padding: 0 3.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;

}

.footer_navigation-items a {
  color: white;
  text-decoration: none;
}

.footer_navigation-items a:hover,
.footer_navigation-items a:active {
  color: #fafcfd;
}

.mentor_calculator {
  color: #fafcfd;
}