.fas.fa-calendar-check {
  font-size: 20px;
  color: white;
}

.request-styled-select select {
   border: none;
   font-size: 14px;
   height: 29px;
   padding: 5px 5px; /* If you add too much padding here, the options won't show in IE */
   background-color: #C3D4F0;
   color: #707B7C;
   font-style: italic;;
     width: 130px;
  margin-right: 15px;
}

.request-month-day-container {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
  align-items: center;

}

.request-same-day-sentence {
  padding: 10px 10px;
  font-style: italic;
  font-size: 14px;
  font-weight: normal;
  margin-right: 5%;
  margin-left: 5%;
}

.form_button.request {
  margin-bottom: 20px
}