
.schedule-container {
    overflow: auto;
    height: 400px;
    width: 70%;
    padding: 0.5em;
    border: solid 1px;
    border-radius: 10px;
}

.schedule-weekly-table {
    border-collapse: collapse;
    font-size: small;
    border: solid 1px;
    
}

.schedule-weekly-table th {
    border: solid 1px;
    padding: 0.5em;
    min-width: 75px;

}

.schedule-weekly-table td {
    border-right: solid 1px;
    
}

.last-row {
    border-bottom: solid 1px
}

.schedule-weekly-table .day {
    padding: 0.5em;
    height: 120px;
}
// Employee bar properties//
.mon-emp-1 {
    width: 300px;
    display: block;
    background-color: green;
    font-display: none;
    // text-indent: -9999px
}

.mon-emp-2 {
    width: 71%;
    display: block;
    background-color: skyblue;
    font-display: none;
    // text-indent: -9999px
}

// .mon-emp-3 {
//     width: 50%;
//     display: block;
//     background-color: black;
//     font-display: none;
//     text-indent: -9999px
// }

// .mon-emp-4 {
//     width: 50%;
//     display: block;
//     background-color: peachpuff;
//     font-display: none;
//     text-indent: -9999px
// }