// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



:root {
  --main-theme-color: #4F4F4F;  //dark grey
  --second-main-color: #2E86AB;  //blue/green
  --complimentary-color: #F18F01; //dark yellow
  --button-color: #727272;  //dark grey
  --button-hover-color: #4F4F4F;
  --text-color: #fafcfd; //light blue/grey
  --background-color: #DBDBDB; //medium grey
  --shift-span-color: #c0dae5; //lighter blue/green
  --light-light-grey: #F2F3F4;
  --complimentary-color-dark: #AB6500;
  --tertiary-color: #C73E1D; //brownish red
  --green: #3BAF6C;
  --dark-green: #1B7A43;
  --dark-red: #8E250C;
}




